.header {
    padding: var(--spacing-base);
    border-bottom: 4px double var(--color-foreground-secondary);
    margin-bottom: var(--spacing-base);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

.pageTitle {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.mainNavigation {
    display: flex;
}

.mainNavigation li {
    padding-right: var(--spacing-small);
    margin-right: var(--spacing-small);
    border-right: 1px solid var(--color-foreground-primary);
}

.mainNavigation li:last-child {
    margin-right: none;
    border-right: none;
}
