{
  "extends": [
    "motor-talk",
    "prettier",
    "prettier/standard",
    "prettier/react"
  ],
  "rules": {
    "max-len": ["error", {"code": 120, "ignoreUrls": true}],
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "overrides": [
    // Special settings for jest tests
    {
      "files": [ "packages/**/*.test.js" ],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/valid-expect": "error",
        "no-shadow": 0,
        "no-unused-expressions": 0
      },
      "env": {
        "jest/globals": true
      },
      "plugins": [
        "jest"
      ]
    }
  ]
}
