.loading {
    font-weight: bold;
    padding: var(--spacing-base);
    background-color: var(--color-background-secondary);
}

.error {
    padding: var(--spacing-base);
    color: var(--color-foreground-inverted);
    background-color: var(--color-background-danger);
}

.topStories {
    background-color: var(--color-background-secondary);
}

.topStories li {
    padding: var(--spacing-small);
    border-bottom: 1px solid var(--color-foreground-secondary);
}

.topStories li:last-child {
    border-bottom: none;
}
